@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,500,800|Comfortaa:400");
.nav{
    list-style-type: none ;
    background-color: #6f7256;
    text-align: center;
}

.nav li{
    display: inline-block;
    padding: 10px;
    font-size: 15px;
}

#bgurl{
    text-align: center;
    object-fit: contain;
    border-radius: 100%;
}
#bgurl img{
    width: 300px;
    height: 339px;
    left: 362px;
    top: 55px;
    border-radius: 100%;

    
}
h2{
    font-size: 30px;
    text-align: center;
}
#imgtel img{
    text-align: center;
    object-fit: contain;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    vertical-align: middle;
    text-align: justify;
}
h3{
    display: inline-block;
    padding: 200x;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
body {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
button{
    padding: 20px 50px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0px;
    background: transparent;
    position: relative;
    margin: 20px;
    transition: all 0.25s ease;
    
}
.btn-1{
    color: black;
    border-radius: 30px;
    transition: all 0.25s ease;
}
.btn-1:hover::after{
    width: 100%;
}
.btn-1::after{
    content: "";
    position: absolute;
    border-radius: inherit;
    width: 10%;
    height: 5px;
    background: black;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.25s ease;
    left: 50%;
    transform: translateX(-50%);
}
.frame-1{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    height: 120px;
    padding: 24px 29px;
    width: 1080px;
}
.nike-logo-1{
    align-self: flex-end;
    height: 71px;
    margin-left: 32px;
    object-fit: cover;
    width: 126px;
}
.overlap-group{
    height: 44px;
    margin-top: 2px;
    position: relative;
    width: 448px;
}
